html {
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: black;
}
img {
    width: 100%;
    height: unset;
}
*,
::after, ::before {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
}
*,
body,
h1,
h2,
h3,
hr,
iframe,
ol,
p,
ul {
    margin: 0;
}
a,hr {
    color: inherit;
}
*, [class*="sr-only"], ol, ul {
    padding: 0;
}
.footer__link, footer {
    position: relative;
}
h1, h2, h3 {
    font-size: inherit;
    font-weight: inherit;
}
ol, ul {
    list-style: none;
}
abbr[title] {
    text-decoration: underline dotted;
}
embed, iframe, img, object, svg {
    vertical-align: bottom;
}
button, input, optgroup, select, textarea {
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    color: inherit;
    font: inherit;
    background: 0 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: inherit;
    text-transform: inherit;
}
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled,
button:disabled {
    cursor: default;
}
:-moz-focusring {
    outline: none;
}
select:disabled {
    opacity: inherit;
}
[contenteditable]:focus {
    outline: auto;
}
button {
    all: unset;
}
[type="button"],
[type="reset"],
[type="submit"],
button,
label[for] {
  cursor: pointer;
}
a {
    background-color: black;
    text-decoration: none;
}